# Anthropic API Key
ANTHROPIC_API_KEY=

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Lemon Squeezy
LEMONSQUEEZY_WEBHOOK_SECRET=

# Database
DATABASE_URL="file:./dev.db"
